<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aposta</title>
    <link rel="stylesheet" href="https://pyscript.net/net/alpha/pyscript.css" />
    <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
</head>
    <style>
        body {
          background-color: #64b945;
        }
        p {color: #05199c;}
        h2 {color: #05199c;}
        hr {background-color: #05199c;}
        h3 {color: #05199c;}
    </style>
<body>
    <div align="center">
        <p>A Lotomania é fácil de jogar e de ganhar: basta escolher 50 números
            e então concorrer a prêmios para acertos de 20, 19, 18, 17, 16, 15
            ou nenhum número.</p>
        <hr>
        <h2>Aqui estão os 50 números aleatórios.</h2>
        <hr>
        <h3>
            <py-script>

                from random import randint
                num = list()
                while True:
                    sort = randint(0, 99)
                    if sort not in num:
                        num.append(sort)
                    if len(num) == 50:
                        break
                print(sorted(num))

            </py-script>
        </h3>
        <hr>
    </div>
</body>
</html>